<?xml version="1.0"?>
<configuration>
    <system.web>

      <authorization>

        <allow roles ="r_admin,r_sales"/>
        <!-- allow the admin role to get in the admin page-->

        <deny roles ="r_customer"/>

        <deny users ="?"/>
        <!-- Any random user who without has account in our web can't get in the webpage-->

      </authorization>
      
    </system.web>
</configuration>
