<?xml version="1.0"?>
<configuration>
    <system.web>


      <authorization>

        <allow roles ="r_admin"/> <!-- allow the admin role to get in the admin page-->
        
        <deny roles ="r_sales,r_customer"/> <!-- our members or sales cant get in the admin page -->
        
        <deny users ="?"/> <!-- Any random user who without has account in our web can't get in the webpage-->
        
      </authorization>
             
    </system.web>
</configuration>
