<?xml version="1.0"?>
<configuration>
    <system.web>
      
      <authorization>

        <allow roles ="r_admin, r_sales,r_customer"/>
        <!-- allow the admin role to get in the admin page-->

        <deny users ="?"/>
        <!-- Any random user who without has account in our web can't get in the webpage-->

      </authorization>
      
    </system.web>
</configuration>
